<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Book Tracker</title>

    <link href="third_party/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="third_party/bootstrap/css/bootstrap-responsive.css"
        rel="stylesheet">
    <link href="client/main.css" media="all" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="third_party/json2/json2.js"></script>
    <script src="third_party/underscore/underscore-min.js"></script>
    <script src="third_party/backbone/backbone-min.js"></script>
    <script src="client/main.js"></script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Book Tracker</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="https://github.com/ysmazda/booktracker">Source Code</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div id="booktracker-app">
        <div class="main">
          <div class="main-content">
            <table id="booklist" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="book-image">Image</th>
                  <th class="book-title">Title</th>
                  <th class="book-tag">Tag</th>
                  <th class="book-status">Status</th>
                </tr>
              </thead>
              <tbody id="booklist-table-body"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <script type="text/template" id="book-template">
      <td class="book-image">
        <a href="<%= url %>"><img src="<%= imageurl %>"></a>
      </td>
      <td class="book-title">
        <a href="/edit"><%= title %></a>
      </td>
      <td class="book-tag"><%= tag %></td>
      <td class="book-status"><%= status %></td>
    </script>

  </body>
</html>
